@loading-image-width: 16px;
@loading-image-margin: 4px;

.nexus-profile.loading label:before,
.nexus-profile.loading label:before,
.top-label .nexus-profile.loading label:after,
.top-label .nexus-profile.loading label:after {
    content: url(../../../images/icons/wait.gif);
    margin-left: -(@loading-image-width + @loading-image-margin);
    position: absolute;
    top: 2px;
}

.top-label {
    .nexus-profile,
    .nexus-profile {
        &.loading label {
            &:after {
                margin-left: @loading-image-margin;
            }
            &:before {
                content: normal;
            }
        }
    }
}
